@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

select option {
  background-color: #282828;
  color: white;
}

/* Custom scrollbar for select dropdowns */
select::-webkit-scrollbar {
  width: 8px;
}

select::-webkit-scrollbar-track {
  background: #181818;
}

select::-webkit-scrollbar-thumb {
  background: #1DB954;
  border-radius: 4px;
}

select::-webkit-scrollbar-thumb:hover {
  background: #1ed760;
}